body
{   
    min-width: 97vw;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: Microsoft YaHei UI, sans-serif;
    font-size: 15px;
    color: white;
}

video
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    filter: blur(2px);
}

.blur
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content
{
    z-index: 1;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.horizontal-orientation
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adaptive
{
    width: auto;
    height: auto;
}

.button-center 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-library
{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: 4px solid rgb(212, 8, 8);
    border-radius: 10px;
    margin: 20px;
}

.whole-library-textarea
{
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 875px;
    height: 400px;
    color: white;
    font-size: 15px;
}

/*table
{
    border-collapse: collapse;
}*/

table td
{
    border: 2px solid limegreen;
    border-radius: 10px;
    word-break: break-word;
}

.my-library
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: 4px solid rgb(52, 221, 170);
    border-radius: 10px;
    margin: 20px;
}

.recomendation-library
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border: 4px solid rgb(83, 59, 224);
    border-radius: 10px;
    margin: 20px;
}

.button-popup
{
    background-color: transparent;
}

.button-slide
{
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    margin-top: 10px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.dop-button
{
    display: block;
    border: 2px solid limegreen;
    border-radius: 10px;
    background-color: limegreen;
    color: white;
}

.dop-button:hover
{
    border: 2px solid green;
    background-color: green;
    transition: 0.4s;
}

.del-button
{
    display: block;
    border: 2px solid rgb(168, 23, 55);
    border-radius: 10px;
    background-color: rgb(168, 23, 55);
    color: white;
}

.del-button:hover
{
    border: 2px solid rgb(110, 8, 30);
    background-color: rgb(110, 8, 30);
    transition: 0.4s;
}

.slide-inside:hover
{
    box-shadow: inset 0 0 0 50px #D80286;
}

@keyframes stretching
{
    from
    {
        width: 300px;
        height: 150px;
    }
    to
    {
        width: 875px;
        height: 400px;
    }
}

@keyframes compression
{
    from
    {
        width: 875px;
        height: 400px;
    }
    to
    {
        width: 300px;
        height: 150px;
    }
}