<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% if links %}
        {% for link in links %}
            <link rel="stylesheet" href="{{ link }}">
        {% endfor %}
    {% endif %}
    {% if scripts %}
        {% for script in scripts %}
            <script src="{{ script }}" defer></script>
        {% endfor %}
    {% endif %}
    <title>{{ title }}</title>
</head>
<body>
    {% if videos %}
        {% for video in videos %}
            <video autoplay muted loop>
                <source src="{{ video }}" type="video/mp4">
            </video>
        {% endfor %}
    {% endif %}
    {% autoescape off %}
    {{ all_data }}
    {% endautoescape %}
    <script>
        var nick = document.getElementById('nickname');
        var regE = document.getElementById('regEmail');
        var passSig = document.getElementById('reg-passwordInput');
        var butSig = document.getElementById('signUp');
        var autE = document.getElementById('autEmail');
        var passLog = document.getElementById('aut-passwordInput');
        var butLog = document.getElementById('logIn');

        butSig.addEventListener('click', function(event) {
          if (nick.value === '' || regE.value === '' || passSig.value === '') {
            if (nick.value === '') {
              nick.style.border = '2px solid yellow';
            }
            else {
              nick.style.border = '2px solid rgb(216, 2, 134)';
            }
            if (regE.value === '') {
              regE.style.border = '2px solid yellow';
            }
            else {
              regE.style.border = '2px solid rgb(216, 2, 134)';
            }
            if (passSig.value === '') {
              passSig.style.border = '2px solid yellow';
            }
            else {
              passSig.style.border = '2px solid rgb(216, 2, 134)';
            }
            alert('Пожалуйста, не оставляйте поля пустыми!');
            event.preventDefault();
            return;
          }
        });

        butLog.addEventListener('click', function(event) {
          if (autE.value === '' || passLog.value === '') {
            if (autE.value === '') {
              autE.style.border = '2px solid yellow';
            }
            else {
              autE.style.border = '2px solid rgb(216, 2, 134)';
            }
            if (passLog.value === '') {
              passLog.style.border = '2px solid yellow';
            }
            else {
              passLog.style.border = '2px solid rgb(216, 2, 134)';
            }
            alert('Пожалуйста, не оставляйте поля пустыми!');
            event.preventDefault();
            return;
          }
        });
    </script>
</body>
</html>