<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% if links %}
        {% for link in links %}
            <link rel="stylesheet" href="{{ link }}">
        {% endfor %}
    {% endif %}
    {% if scripts %}
        {% for script in scripts %}
            <script src="{{ script }}" defer></script>
        {% endfor %}
    {% endif %}
    <title>{{ title }}</title>
</head>
<body>
    {% if videos %}
        {% for video in videos %}
            <video autoplay muted loop>
                <source src="{{ video }}" type="video/mp4">
            </video>
        {% endfor %}
    {% endif %}
    {% autoescape off %}
    {{ all_data_1 }}
    {% endautoescape %}
    {% if messages %}
    <div class="message">
        {% for message in messages %}
            {% if message.tags == "success" %}
                <p style="background-color: green;border-radius: 10px;color: white;">{{ message }}</p>
            {% elif message.tags == "error" %}
                <p style="background-color: red;border-radius: 10px;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% autoescape off %}
    {{ all_data_2 }}
    {% endautoescape %}
    {% autoescape off %}
    <table>
        <tr>
            {% for field in field_data %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% for table_row in table_data %}
        <tr>
            {% for cell in table_row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endautoescape %}
    {% autoescape off %}
    {{ all_data_3 }}
    {% endautoescape %}
    {% autoescape off %}
    <table>
        <tr>
            {% for field in field_data_2 %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% for table_row in table_data_2 %}
        <tr>
            {% for cell in table_row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endautoescape %}
    {% autoescape off %}
    {{ all_data_4 }}
    {% endautoescape %}
</body>
</html>